tiktoken
sentencepiece
better_profanity
trl
convokit
accelerate>=0.20.3,<1
bitsandbytes==0.41.1
cuda-python
datasets>=2.10.0,<3
evaluate
git+https://github.com/huggingface/peft
ipykernel
ipython
ipywidgets==7.8.1
langchain
nvidia-cublas-cu11
pandas
sagemaker
scikit-learn
spacy
transformers>4.28.1
unidecode