alt-profanity-check==1.3.0
tiktoken
sentencepiece
better_profanity
trl
spacy
guardrails-ai==0.2.4
convokit
accelerate>=0.20.3,<1
bitsandbytes==0.41.1
cuda-python
datasets>=2.10.0,<3
evaluate
git+https://github.com/huggingface/peft
ipykernel
ipython
ipywidgets==7.8.1
langchain==0.0.329
openai==0.28.1
nvidia-cublas-cu11
pandas
sagemaker
scikit-learn
spacy
transformers>4.28.1
unidecode
pydantic==1.10.9